/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7       |  8    |  9   |   0   |   BACKSPACE |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                    |  Y   |  U       |  I    |  O   |   P   |   =   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                    |  H   |  J       |  K    |  L   |   ;   |   '   |
            // |  CTRL |  Z  |  X  |  C   |  V   |  B   |   "["  |   |  "]"  |  N   |  M       |  ,    |  .   |  "/"  |   \   |
            //                     |  GUI | ALT  |Lower |  SPACE |   | ENTER |LAYER2| CAPSLOCK |  DEL  |

            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3        &kp N4       &kp N5                              &kp N6     &kp N7          &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB         &kp Q   &kp W   &kp E         &kp R        &kp T                               &kp Y      &kp U           &kp I      &kp O    &kp P     &kp EQUAL
&kp LEFT_SHIFT  &kp A   &kp S   &kp D         &kp F        &kp G                               &kp H      &kp J           &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C         &kp V        &kp B      &kp LBKT     &kp RBKT    &kp N      &kp M           &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                                &kp LEFT_WIN  &kp LEFT_ALT &mo 1      &kp SPACE    &kp ENTER   &mo 2      &&kp CAPSLOCK   &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |       |
            // |       |     |     |   ^  |      |      |                   |      |       |       |      |   _   |   +   |
            // |       |     |  <- |   v  |  ->  |      |                   |      |       |       |      |   :   |   "   |
            // |       |     |     |      |      |      |   {  |     |   }  |      |       |  <    |  >   |   ?   |  "|"  |
            //                     |      |      |      |      |     |      |      |       |       |

            bindings = <
&kp GRAVE   &kp EXCL    &kp AT     &kp HASH         &kp DOLLAR    &kp PRCNT                         &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR   &trans
&trans      &trans      &trans     &kp UP_ARROW     &trans        &trans                            &trans     &trans     &trans     &trans     &kp UNDER  &kp PLUS
&trans      &trans      &kp LEFT   &kp DOWN_ARROW   &kp RIGHT     &trans                            &trans     &trans     &trans     &trans     &kp COLON  &kp APOS
&trans      &trans      &trans     &trans           &trans        &trans    &kp LBRC     &kp RBRC   &trans     &trans     &kp LT     &kp GT     &kp QMARK  &kp PIPE2
                                   &trans           &trans        &trans    &trans       &trans     &trans     &trans     &trans     
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   ~   |  F1 |  F2 |  F4  |  F4  |  F5  |                   |   F6 |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | BTCLR | BT1 | BT2 | BT3  |  BT4 |  BT5 |                   |      |       |       |      |   -   |       |
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |       |     |     |      |      |      |      |      |     |      |       |       |      |       |       |
            //                     |      |      |      |      |      |     |      |       |       |

            bindings = <
&kp TILDE    &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                       &kp F6     &kp F7    &kp F8   &kp F9   &kp F10    &kp F11
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5                 &trans     &trans    &trans   &trans   &kp MIUS   &trans 
&trans          &trans        &trans        &trans        &trans        &trans                       &trans     &trans    &trans   &trans   &trans     &trans
&trans          &trans        &trans        &trans        &trans        &trans    &trans    &trans   &trans     &trans    &trans   &trans   &trans     &trans
                                            &trans        &trans        &trans    &trans    &trans   &trans     &trans    &trans
            >;\

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };`
    };
};
